body {
	/*margin: 0;*/
	background-color: dimgray;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10pt;
}

.form_name {
	font-size: 18pt;
	text-align: center;
}

.chance_title {
	font-size: 15pt;
	text-align: center;
}

.tip {
	font-size: 8pt;
}

.potion_effect_table {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.potion_effect_table tr, .potion_effect_table td {
	padding: 10px;
	text-align: center;
	border: 1px solid black;
}

#version {
	position: absolute;
	right: 8px;
	top: 0%;
	color: darkblue;
}

#git {
	position: absolute;
	right: 8px;
	bottom: 8px;
}

#tooltip {
	position: absolute;
	background-color: chocolate;
	min-width: 10%;
	max-width: 50%;
	border: 2px solid black;
	visibility: hidden;
	padding: 5px;
}